@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
.page_width{
    max-width: 1250px;
    margin: auto;
    padding: 0px 15px;
 }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.nav_link li{
    list-style: none;
    display: inline-block;
    padding: 30px 15px;
}
.nav_link li a {
    color: #c4c4c4;
    font-family: rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}
.nav_link li a:hover {
    color: #058b8c;
    font-family: rubik;
    font-weight: 700;
}
.last_child a:last-child
{
 
        align-items: center;
        background-color: #c4c4c4;
        border-radius: 25px;
        color:#058b8c;
        display: flex;
        gap: 10px;
        padding: 10px 20px;

    
}

.last_child a:last-child:hover{
    background-color: #058b8c;
    color: #c4c4c4;
}

/* Footer */
.outer_footer {
   padding: 60px 0px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   gap: 1rem;
}
.column_1 p{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
    margin-top: 1rem;

}
.column_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.column_2 li,
.column_3 li{
    list-style: none;
    padding: 1rem;
}

.column_2 li a,
.column_3 li a{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
    text-decoration: none;
}
.column_2 li a:hover,
.column_3 li a:hover{
    color:#034747;
    font-weight: 600;

}
.news_letter{ 
    display: flex;
}
    
.news_letter input {
    width: 70%;
    border: 2px solid rgba(5, 139, 140, 1);
    border-radius: 100px;
    height: 45px;
    padding-left: 1rem;

}

.news_letter input::placeholder {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
}
.news_letter button{
    width: 27%;
    margin-left: 2px;
    box-shadow: 3px 3px 10px 0px #00000033;
    box-shadow: 3px 4px 10px 0px #00000033 inset;
    background-color:#c4c4c4;
    color:  #058B8C;
    border-radius: 50px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    border: none;
}
.news_letter button:hover{
    background-color:  #058B8C;
    color: #c4c4c4;

}
/* .outer_footer .footer_column_one p {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
    margin-top: 1rem;
}

.footer_column_two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer_column_two li,
.footer_column_three li {
    list-style: none;
    padding: 15px;
}

.footer_column_two li a,
.footer_column_three li a {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
    text-decoration: none;
}

.footer_column_two li a:hover,
.footer_column_three li a:hover {
    color: #000000;
    font-weight: 600;
}

.news_letter {
    display: flex;
}

.news_letter input {
    width: 70%;
    border: 2px solid rgba(5, 139, 140, 1);
    border-radius: 50px;
    height: 45px;
    padding-left: 1rem;
}

.news_letter input::placeholder {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
}

.news_letter button {
    width: 27%;
    margin-left: 2px;
    box-shadow: 3px 3px 10px 0px #00000033;
    box-shadow: 3px 4px 10px 0px #00000033 inset;
    background-color: #058B8C;
    color: #fff;
    border-radius: 50px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    border: none;

} */